.optionContainer {
    display: flex;
    width: 100%;
    height: 10%;
}

.optionContainer .searchArea{
    margin: .5rem 0;
    width: 100%;
    height: 2rem;
    border: 2px solid var(--green);
    border-radius: .2rem;

}